<h1>Livros</h1>

<div class="row">
  <div class="col-6">
    <h2>Cadastrar novo</h2>
    <form [formGroup]="formLivro" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col my-3">
          <label for="tituloLivro" class="form-label">Título</label>
          <input 
            type="text" 
            class="form-control form-control-lg" id="tituloLivro"
            formControlName="tituloLivro">
            <small *ngIf="tituloLivro.hasError('required') && submitted" class="text-danger">O título do livro é obrigatório</small>
        </div>
      </div>
    
      <div class="row">
        <div class="col my-6">
          <label for="autorLivro" class="form-label">Autor</label>
          <input 
            type="text" 
            class="form-control form-control-lg" 
            id="autorLivro" 
            formControlName="autorLivro">
        </div>
    
        <div class="col my-6">
          <label for="editoraLivro" class="form-label">Editora</label>
          <input
            type="text" 
            class="form-control form-control-lg" 
            id="editoraLivro"
            formControlName="editoraLivro">
        </div>
      </div>
    
      <div class="row">
        <div class="col my-3">
          <label for="precoLivro" class="form-label">Preço</label>
          <input 
            type="text"
            class="form-control form-control-lg" id="precoLivro"
            formControlName="precoLivro">
        </div>
      </div>
    
      <button class="btn btn-lg btn-primary">Cadastrar</button>
    </form>
  </div>

  <div class="col-6">
    <h2>Livros cadastrados</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Editora</th>
          <th scope="col">Preço</th>
          <th class="text-right" scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <th scope="row">{{livro.id}}</th>
          <td>{{livro.tituloLivro}}</td>
          <td>{{livro.autorLivro}}</td>
          <td>{{livro.editoraLivro}}</td>
          <td>R$ {{livro.precoLivro}}</td>
          <td class="d-flex justify-content-end" style="gap: 12px">
            <button class="btn btn-danger" (click)="delete(livro)">Excluir</button> 
            <button class="btn btn-warning">Editar</button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>